.myButton {
    display: inline-block;
    padding:2px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #252525;  /* change as desired */
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .myButton:hover {
    background-color: #101010;  /* change as desired */
  }
.bar{
    background-color: rgb(62, 62, 62);
    
}  